//font
$base-font-size: 1rem; //16px
$base-font-size-default: 1.125rem; //18px
$base-font-size-default-next: 1.25rem; //20px
//restponsive

//table
$tablet-breakpoint-chieudoc: 600px; //tablet chiều dọc
$tablet-breakpoint-chieudoc-to: 768px; //tablet to chiều dọc
// $tablet-breakpoint-chieungang: 800px; //table chiều ngang
// $tablet-breakpoint-chieungang-to: 1024px; //table to chiều ngang
//mobile
// $mobile-breakpoint-chieudoc: 320px; // mobile chièu dọc  
$mobile-breakpoint-chieungang: 480px; //moile chiều ngang 
//deshtop
$desktop-breakpoint: 1025px;