@import "../base/variables";
@import "../base/mixins";
.shop-top {
    margin: 0;
    padding: 0;
    .shop-top-both {
        background-color: #f9f1e7;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 100px;
        .shop-top-left {
            padding: 4% 0;
            margin-left: 20%;
            font-size: $base-font-size;
            i {
                margin: 0px 2%;
            }
        }
        .shop-top-right {
            padding: 4% 0;
            margin-left: 20%;
            font-size: $base-font-size;

            .show-right {
                margin: 0;
                padding: 0;
                span {
                    border: 1px solid white;
                    background-color: white;
                    padding: 5px 10px;
                    margin: 0px 8px;
                    opacity: 0.7;
                }
            }
        }
    }
    // Thêm kiểu dáng chung cho tất cả các thiết bị
    @media screen and (max-width: $mobile-breakpoint-chieungang) {
        @include mobile-table;
        .shop-top-both {
            background-color: #f9f1e7;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 0;
            .shop-top-left {
                padding: 3% 0;
                height: 0%;
                text-align: center;
                margin-left: 0%;
                font-size: 15px;    
                i {
                    margin: 0px 0%;
                }
            }
            .shop-top-right {
                padding: 3% 0;
                margin-left: 0%;
                text-align: center;
                font-size: 15px;
                height: 0%;

                .show-right {
                    margin: 0;
                    padding: 0;
                    span {
                        border: 1px solid white;
                        background-color: white;
                        padding: 5px 10px;
                        margin: 0px 8px;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
    // Thêm kiểu dáng cho tablet chiều dọc
    @media screen and (min-width: $tablet-breakpoint-chieudoc) and (max-width: $tablet-breakpoint-chieudoc-to) {
        @include tablet-table;
        .shop-top-both {
            background-color: #f9f1e7;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .shop-top-left {
                width: 100%;
                padding: 8% 0;
                margin-left: 20%;
                font-size: $base-font-size;
                i {
                    margin: 0px 0%;
                }
            }
            .shop-top-right {
                padding: 8% 0;
                margin-left: 0%;
                font-size: $base-font-size;

                .show-right {
                    margin: 0;
                    padding: 0;
                    span {
                        border: 1px solid white;
                        background-color: white;
                        padding: 0px 10px;
                        margin: 0px 8px;
                        opacity: 0.7;
                    }
                }
            }
        }
    }

    // Thêm kiểu dáng cho desktop
    @media screen and (min-width: $desktop-breakpoint) {
        @include table-desktop;
    }
}
